/* Services
========================================================= */

.services-content {
  .hover-text {
    font-weight: 500;
    font-size: clamp(60px, 10vw, 190px);
    margin: 0;
    line-height: 0.75;
    font-stretch: 3% !important;
    span {
      font-variation-settings: "wdth" 500;
    }
  }
  .container {
    @include for-size(tablet, up) {
      min-height: 100vh;
    }
    @include for-size(phone, up) {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    @include for-size(tablet) {
      padding: rem(100px) 0;
    }
    @include for-size(phone) {
      text-align: center;
    }
  }
  &--header {
    flex: 0 0 auto;
    margin-right: 0;
    @include for-size(tablet) {
      padding-top: 10vw;
      margin-bottom: 50px;
      margin-right: 0;
    }
  }
  &--services {
    flex: 0 0 auto;
    margin: 0;
    width: 465px;
    padding-left: 0px;
    @include for-size(phone) {
      width: 100%;
    }
  }
}

.creative-process {
  background-color: $greenLight;
  @include row-padding;
  &--intro {
    max-width: rem(950px);
    margin: 0 auto 50px auto;
    p {
      @include small;
      font-size: 20px;
    }
    h3 {
      font-weight: 900;
      font-size: clamp(30px, 5vw, 72px);
    }
  }
  &--steps {
    max-width: 600px;
    margin: 0 auto;
  }
}

.step-entry {
  position: relative;
  margin-bottom: rem(10px);
  //  max-width: 500px;
  @include for-size(phone, up) {
    margin-bottom: rem(50px);
  }
  strong {
    font-size: clamp(30px, 4vw, 40px);
    display: block;
  }
  .line-dash {
    fill: none;
  }
  p {
    @include for-size(phone, up) {
      &:not(:first-of-type) {
        padding-left: 57px;
      }
    }
    &:first-of-type {
      margin-bottom: 0;
    }
  }
  &:nth-child(even) {
    margin-left: rem(95px);
    @include for-size(phone) {
      margin-left: 10vw;
    }
  }
  &.entry-01 {
    .service-path {
      top: calc(100% - 90px);
      left: -10px;
    }
  }
  &.entry-02 {
    .service-path {
      top: calc(100% - 90px);
      left: -50px;
    }
  }
  &.entry-03 {
    .service-path {
      top: calc(100% - 90px);
      left: -70px;
    }
  }
}

.service-path {
  display: block;

  margin-top: 25px;
  @include for-size(phone, up) {
    position: absolute;
    z-index: 10;
  }
}

.services-outro {
  padding-top: 25vw;
  padding-bottom: rem(100px);
  text-align: center;
  position: relative;
  overflow: hidden;
  @include for-size(tablet, up) {
    margin-bottom: rem(100px);
  }
  small {
    margin-bottom: rem(70px);
    font-size: 20px;
  }
  .grid {
    grid-gap: 50px;
    position: relative;
    z-index: 1;
    @include for-size(tablet, up) {
      grid-template-columns: repeat(3, 30%);
      grid-gap: 5%;
    }
  }
  .services-waves {
    background: url("assets/img/svg/waltz-wave.svg") top/contain no-repeat;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 0;
  }
}

.services-outro-entry {
  text-align: center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  img {
    display: block;
    margin: 0 auto;
  }
  .icon {
    margin-top: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    margin-bottom: 25px;
    @include for-size(phone, up) {
      min-height: 300px;
    }
  }
  .title {
    text-align: center;
    font-size: clamp(60px, 10vw, 180px);
    margin-bottom: 10px;
    font-weight: 900;
    margin-top: auto;
  }
  .copy {
    margin-top: auto;
    height: 100%;
  }
}

/* Single Service
========================================================= */

.single-service {
  @include for-size(tablet) {
    padding-top: 60px;
  }
}
h1.fl-heading {
  @include for-size(tablet) {
    font-stretch: 10%;
    font-weight: 600;
  }
  @include for-size(phone) {
    font-size: 40px;
  }
}
